<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script>
  function updateIFrame(){
  	  jQuery("#sat_widget_iframe").attr("src","http://www.shareandtelldev.com:3000/widget/index");
  }
</script>
<div onclick="updateIFrame()" style="width: 150px; height: 50px; background-color: #00F;">Click me!</div>
<iframe id="sat_widget_iframe" src="" scrolling="no">
	<p>Your browser does not support iframes.</p>
</iframe>
