<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
	appId  : '<%= Facebooker2.app_id %>',
	status : true, // check login status
	cookie : true, // enable cookies to allow the server to access the session
	xfbml  : true  // parse XFBML
  });
</script>

<iframe class="sat_widget_iframe" src="http://www.shareandtelldev.com:3000/widget/index" scrolling="no">
	<p>Your browser does not support iframes.</p>
</iframe>
