here is some sample text!<br/>
<div style="float:left;">we loves the floating div</div>

<% if params[:server] == "local" %>
	<script type="text/javascript" src="http://www.shareandtelldev.com:3000/widget/shareandtell_inpage.js?app_id=185&btn_id=1"></script>
<% else %>
	<script type="text/javascript" src="http://www.shareandtelltest.com/widget/shareandtell_inpage.js?app_id=185&btn_id=1"></script>
<% end %>
<div onclick="shareandtell_embedded_click_1()">BUTTTTTTTTONNNNNN</div>

<div>no one loves the normal div. it is all alone</div>

more text of a dubious nature
