<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

<script type="text/javascript">
  jQuery.noConflict();
</script>

here is some sample text!<br/>
<div style="float:left;">we loves the floating div</div>

<script type="text/javascript" src="http://www.shareandtelldev.com:3000/widget/shareandtell_inpage/24" id="shareandtell_inpage_script_24"></script>

<div>no one loves the normal div. it is all alone</div>

more text of a dubious nature
