<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=0, maximum-scale=1, minimum-scale=1.0, maximum-scale=1.0" media="(device-height: 568px)" />
    <link rel="stylesheet" href="/mobile.css" type="text/css" />
  </head>
  <body>
    <div id="header">
      Header
    </div>
    <div id="wrapper">
      <div id="content">
        <ul>
          <li class="page">
            <h1>Roswell That Ends Well</h1>
            <p>You've killed me! Oh, you've killed me! Hey, whatcha watching? Why would I want to know that? You'll have all the Slurm you can drink when you're partying with Slurms McKenzie! I'm sure those windmills will keep them cool. You're going to do his laundry?</p>
          </li>
        </ul>
      </div>
    </div>
    <div id="footer">
      Footer
    </div>
  </body>
</html>