<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Widgettest</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <meta name="keywords" content="All occasion, Anonymous gift, Bad joke, Beautiful roses, Black humor, Clever gift, Clever joke, Cynical humor, Dead flowers, Distasteful, Failed relationship, Final say, Final word, Special occasion, Floral arrangement, Humorous gift, Missed anniversary, Novelty gift, Outrageous gift, Revenge gift, Shocking sense of humor, Sick joke, Sophisticated humor, send flowers, flower arrangements online, flower delivery, online flowers, online florist, flowers online, flower shops, flower shop">
<meta name="description" content="dirtyrottenflowers.com is a clever, elegant and sophisticated way to send a novelty gift of flowers with a sense of humor.  Based in Los Angeles, but serving nationwide, dirtyrottenflowers.com is an affordable solution to play a practical joke, having the last word and final say, with an elegantly cynical bouquet of dead flowers."><meta name="language" content="english">
<meta name="author" content="dirtyrottenflowers.com">
<meta name="copyright" content="dirtyrottenflowers.com">
<meta name="robots" content="All">
<meta name="revisit-after" content="7 days">
<meta name="document-class" content="Completed">
<meta name="document-classification" content="Media">
<meta name="document-rights" content="Copywritten Work">
<meta name="document-type" content="Public">
<meta name="document-rating" content="General">
<meta name="document-distribution" content="Global">
<meta name="document-state" content="Dynamic">
<meta name="cache-control" content="Public">
</head>
<body>

<%= yield %>

</body>
</html>
